<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: head('Pizza')}" />

<body>
    <div th:replace="~{fragments/header :: header}" />

    <main class="container">
        <h3>Le Pizze della casa</h3>

        <div class="my-3">
            <div class="d-flex">
                <form class="mb-3" th:action="@{/pizzas}">
                    <input id="search-bar" class="form-control" type="text" th:name="q" th:value="${query}"
                        placeholder="Cerca...">
                </form>
                <div class="ms-3">
                    <a class="btn btn-primary" th:href="@{/pizzas/create}">Crea una nuova pizza</a>
                </div>

            </div>
        </div>


        <div th:unless="${pizzas.size() > 0}">Non ci sono pizze disponibili</div>

        <th:block th:if="${pizzas.size() > 0}">

            <ul th:each="pizza: ${pizzas}" th:object="${pizza}">
                <li>
                    <img th:src="*{image}">
                    <span class="fw-bold">[[*{name}]]</span>
                    <span>€[[*{price}]]</span>
                    <span>[[*{description}]]</span>
                    <a th:href="|pizzas/*{id}|">Vai alla pizza</a>
                </li>
            </ul>
        </th:block>

    </main>

    <div th:replace="~{fragments/fragments :: bootstrap}" />
</body>

</html>